.about {
  min-height: 750px;
  margin-bottom: 85px;
  padding-left: 30px;

  background-image: url(../img/about-bg.png);
  background-position: 2px 157px;
  background-repeat: no-repeat;
  background-size: 100% 77%;
}

.about__title {
  text-align: center;
  margin-bottom: 26px;
  padding-right: 30px;
}

.about__text {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-right: 30px;
}

.about__video {
  width: 65%;
  margin: 0 auto;
  position: relative;
  padding-right: 29px;

  position: relative;
}

.about__video img {
  width: 100%;
  height: auto;
}

.about__play {
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;

  background-color: $white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 16px rgba(255,255,255,0.32);

  &:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: #F4F4F4;
  }
}

.about__play svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-33%, -50%);
}

@media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
  .about {
    background-image: url(../img/about-bg@2x.png)
  }
}

@media (max-width: $tablet-width) {
  .about {
    padding: 0;
    background-image: url(../img/about-bg-mobile.png);
    background-position: 0px 249px;

    min-height: 551px;
    margin-bottom: 20px;
  }

  .about__title {
    padding: 0;
  }

  .about__text {
    @include font-size(16px, 160%);
    text-align: left;
    max-width: unset;
    padding: 0;
    padding-left: 15px;
  }

  .about__video {
    width: 100%;
    padding-right: unset;
  }

  .about__video img {
    width: 100%;
    height: auto;
  }

  .about__play {
    width: 55px;
    height: 55px;
    top: 52%;
    left: 50%;
  }
}
