.accepted {
  display: none;

  &--open {
    display: block;
  }
}

.accepted__inner svg {
  display: block;
  margin: 0 auto;
}

.accepted__inner h3 {
  text-align: center;
}

.accepted__inner p {
  margin: 0 auto;
  text-align: center;
}
