.blog {
  position: relative;
  min-height: 585px;
  margin-bottom: 133px;
}

.blog__image {
  position: absolute;
  top: 31px;
  left: 4px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.blog__inner {
  padding-top: 120px;
  margin-left: 58.2%;;
}

.blog__title {
  margin-bottom: 25px;
}

.blog__text {
  max-width: 395px;
  margin-bottom: 50px;
  padding-left: 3px;

  color: $white;
  opacity: 0.87;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.blog__text br {
  display: none;
}

.blog__link {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 230px;
  line-height: 60px;
}

.blog__link svg {
  fill: $white;
  margin-right: 10px;
}

@media (max-width: $tablet-width) {
  .blog {
    margin-top: -63px;
    min-height: 400px;
    margin-bottom: 70px;
  }

  .blog__image {
    width: 100%;
    height: auto;
    left: 0;
    top: 45px;
  }

  .blog__inner {
    margin: 0;
    padding: 0;
  }

  .blog__title {
    @include font-size(40px, 49px);
    text-align: center;
    margin-top: 0;
    margin-bottom: 95px;
  }

  .blog__text {
    @include font-size(16px, 160%);
    margin-left: 20px;
    margin-right: 24px;
  }

  .blog__text br {
    display: inline;
  }

  .blog__link {
    max-width: unset;
    width: 80%;
    margin: 0 auto;
    margin-top: 63px;
  }
}
