.detail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  justify-content: space-between;
}

.detail__title {
  margin-bottom: 48px;
}

.detail__city {
  @include font-size(15px, 150%);

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 39px;
}

.detail__city-marker {
  margin-right: 3px;
  opacity: 0.5;
}

.detail__city span {
  margin-left: 19px;
  margin-right: 10px;
  border-bottom: 1px dashed $blue;
}

.detail__city-cursor {
  fill: $blue;
}

.detail__description {
  width: 38%;
  margin-left: 8%;
}

.detail__curator {
  display: flex;
  flex-wrap: wrap;
}

.detail__curator img {
  border-radius: 50%;
  margin-right: 24px;
}

.detail__curator-desc {
  width: 50%;
}

.detail__curator-desc address {
  @include font-size(13px, 150%);
  font-style: normal;
  opacity: 0.74;
  margin-bottom: 15px;
}

.detail__curator-name {
  margin-top: 0;
  margin-bottom: 8px;
}

.detail__curator-name span {
  @include font-size(15px, 150%);
  color: $blue;
  letter-spacing: -0.02em;

  opacity: 0.74;
  margin-right: 10px;
}

.detail__social {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
}

.detail__social li {
  margin-right: 21px;
  opacity: 0.5;
}

.detail__feedback {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 42px;
  padding-left: 8%;
}

.detail__text {
  margin-top: 28px;
  max-width: 490px;
}

.detail__text br {
  display: none;
}

.detail__map-link {
  margin-top: 41px;
}

.detail__feedback-wrap {
  margin-right: 18px;
}

.detail__feedback-text {
  margin-bottom: 9px;
  max-width: 360px;
}

.detail__feedback-notice {
  @include font-size(13px, 150%);
  opacity: 0.5;
  margin-top: 0px;
  max-width: 360px;
}

.detail__feedback input {
  margin-top: 15px;
  width: 250px;
  margin-right: 23px;

  &::placeholder {
    @include font-size(17px, 20px);
    text-transform: uppercase;
    font-variant: small-caps;
  }
}

.detail__feedback button {
  @include font-size(17px, 20px);
  font-weight: 500;
  font-variant: small-caps;
  margin-top: 15px;
  width: 218px;
}

@media (max-width: $tablet-width) {
  .detail {
    display: block;
    padding: 0;
    margin-bottom: 64px;
  }

  .detail__title {
    text-align: center;
    margin-bottom: 24px;
  }

  .detail__city {
    padding-left: 16px;
  }

  .detail__description {
    width: auto;
    margin-left: unset;
  }

  .detail__curator {
    display: block;
    padding-left: 15px;
  }

  .detail__curator-desc {
    @include font-size(15px, 150%);
    width: 100%;
    margin-top: 7px;
  }

  .detail__curator-name {
    margin-bottom: 12px;
  }

  .detail__map-link {
    display: block;
    margin: unset;
    width: 100%;
  }

  .detail__map-link img {
    width: 100%;
    height: auto;
  }

  .detail__feedback {
    display: block;
    margin-top: 0;
    padding-left: unset;
  }

  .detail__feedback-wrap {
    margin: 0;
  }

  .detail__feedback input {
    width: 100%;
    margin-right: 0;
  }

  .detail__feedback-text {
    @include font-size(16px, 150%);
    padding-left: 16px;
    padding-right: 10px;
  }

  .detail__text {
    @include font-size(16px, 160%);
    padding-right: 10px;
    margin-top: 31px;
    margin-bottom: 44px;
    max-width: unset;
  }

  .detail__text br {
    display: inline;
  }

  .detail__feedback-notice {
    padding: 0 15px;
    margin-bottom: 36px;
  }

  .detail__feedback input {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
  }

  .detail__feedback button {
    width: 84%;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
  }
}
