.header {
  position: relative;
  margin: 0 auto 75px;
  padding-bottom: 60px;

  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 28px 110px;
  margin-bottom: 31%;
}

.header__tel {
  @include font-size(15px, 18px);
  color: $black;
  text-decoration: none;

  order: -1;
}

.header__logo img {
  margin-right: 15px;
  margin-top: 3px;
}

.header__feedback {
  @include font-size(15px, 18px);
  font-weight: 500;
  text-transform: uppercase;

  padding: 0;

  border: none;
  border-bottom: 2px dashed $black;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-color: $blue;
  }
}

.header__text {
  @include font-size(24px, 29px);
  font-weight: 700;
  color: $white;
  text-align: center;

  max-width: 350px;
  margin: 0 auto 30px;
}

.header__scroll-icon {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
  .header {
    background-image: url("../img/header-bg@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 500px;
    margin: 0;

    background-image: url("../img/header-bg-mobile.png");
    background-position: -1px 32px;
    background-size: 100% auto;
  }

  .header__wrapper {
    position: relative;
    display: block;

    margin-bottom: 245px;
    padding: 20px 7px 16px 20px;
  }

  .header__logo img {
    width: 120px;
    height: 42px;
  }

  .header__tel {
    @include font-size(14px, 17px);
    font-weight: 500;

    order: unset;
    position: absolute;
    top: 20px;
    right: 7px;
  }

  .header__feedback {
    @include font-size(14px, 17px);
    font-weight: 500;

    position: absolute;
    top: 45px;
    right: 7px;
  }

  .header__text {
    @include font-size(20px, 24px);
  }



  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    .header {
      background-image: url("../img/header-bg-mobile@2x.png");
    }
  }
}
