.review {
  margin-top: -82px;
  margin-bottom: 69px;
  position: relative;

  background-image:
    url(../img/review_bg.png),
    url(../img/sketch.png);

  background-repeat:
    no-repeat,
    no-repeat;

  background-position:
    0 0,
    0 0;
}

.review__title {
  text-align: center;
  margin-bottom: 4px;
}

.review__slider {
  position: relative;
  @include clear-list;
  margin-left: 98px;
}

.review__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;

  &--active {
    position: relative;
    opacity: 1;
    z-index: 2;
  }
}

.review__description {
  margin-left: 40px;
  padding-top: 18px;
}

.review__name {
  @include font-size(24px, 150%);
  opacity: 0.74;
  margin-bottom: 10px;
}

.review__program {
  @include font-size(15px, 140%);
  opacity: 0.74;

  margin-top: 0;
  margin-bottom: 34px;
}

.review__program span {
  color: $blue;
  margin-right: 5px;
}

.review__text {
  max-width: 680px;
  opacity: 0.74;
}

.review__link {
  color: $blue;
}

.review__footer {
  display: flex;
  justify-content: flex-end;

  margin-top: 60px;
}

.review__slider-numbers {
  opacity: 0.5;
  margin-right: 20px;
}

.review__slider-control {
  display: flex;
  align-items: center;

  position: absolute;
  left: 405px;
  bottom: -14px;
  z-index: 5;
}

.review__social {
  @include clear-list;
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.review__social li {
  margin-left: 23px;
}

.review__prew,
.review__next {
  display: block;
  width: 10px;
  height: 24px;
  margin-right: 10px;

  border: none;
  background-color: transparent;
}

@media (max-width: $tablet-width) {
  .review {
    margin-bottom: 37px;
  }

  .review__slider {
    position: relative;
    margin: 0;
  }

  .review__slide {
    display: block;
  }

  .review__slide-img {
    width: 78%;
    height: auto;
    margin: 0 auto;
    margin-top: 19px;
    display: block;
  }

  .review__slider-control {
    position: absolute;
    top: 319px;
    left: 50%;
    transform: translateX(-50%);
  }

  .review__description {
    margin-left: 15px;
  }

  .review__name {
    margin-top: 35px;
  }

  .rewiev__program {
    @include font-size(14px, 160%);
    margin-bottom: 24px;
  }

  .rewiev__program span {
    @include font-size(14px, 160%);
    display: block;
  }

  .review__text {
    @include font-size(16px, 160%);
    padding-right: 20px;
    margin-bottom: 25px;
  }

  .review__link {
    display: block;
    margin-top: 30px;
  }

  .review__social {
    margin-top: -17px;
    margin-left: -21px;
  }
}
