body {
  font-family: "FiraSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: $black;
}

.raleway-font {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: $black;
}

.title {
  @include monserat-font(40px, 49px);
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
}

.button {
  @include font-size(17px, 20px);
  text-transform: uppercase;
  font-weight: 500;
  font-variant: small-caps;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  color: $white;
  text-align: center;

  min-height: 60px;
  min-width: 200px;

  border: none;
  border-radius: 80px;

  background: $gradient;

  &:hover {
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
  }
}

.input {
  box-sizing: border-box;
  padding-left: 40px;
  height: 60px;

  border: 2px solid $grey;
  border-radius: 80px;

  &::placeholder {
    @include font-size(17px, 20px);
    text-transform: uppercase;
    font-weight: 500;
    font-variant: small-caps;
    color: $black;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-color: $yellow;
  }

  &:invalid {
    border-color: red;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: $grey-bg;
  z-index: 10;
}

.modal__inner {
  width: 500px;
  height: 520px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 56px 72px 40px 48px;
  border-radius: 8px;
  box-shadow: 0px 13px 23px 0px rgba(72,72,72,0.7);

  background-color: $white;
}

.modal__inner h3 {
  @include monserat-font(28px, 24px);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: $blue;
}

.modal__inner p {
  @include font-size(15px, 170%);
  opacity: 0.87;
  max-width: 360px;
}

.modal__inner input[type="text"] {
  width: 360px;
  height: 59px;
  box-sizing: border-box;

  padding: 20px 40px;
  margin-bottom: 8px;

  border: 2px solid $grey;
  border-radius: 80px;

  &::placeholder {
    @include font-size(17px, 20px);
    font-weight: 500;
    font-variant: small-caps;
    text-transform: uppercase;

    opacity: 0.5;
  }
}

.modal__inner button[type="submit"],
.modal__inner .modal__submit {
  @include font-size(17px, 20px);
  font-weight: 500;
  font-variant: small-caps;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  display: block;
  width: 265px;
  height: 59px;

  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 16px;

  border: none;
  border-radius: 80px;
  background: $gradient;
}

.modal__inner input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 2px solid $yellow;
  border-image: $gradient;
  border-image-slice: 1;
  border-radius: 2px;

  background-color: $white;

  -webkit-appearance: none;
  appearance: none;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 18px;
  height: 18px;

  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;

    position: absolute;
    top: 8px;
    left: -4px;

    background: $gradient;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}

@media (max-width: $tablet-width) {
  .title {
    @include font-size(32px, 39px);
  }
}
