body {
  font-family: "FiraSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: $black;
}

.raleway-font {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: $black;
}
